.container-filtro {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}

.container-filtro ul {
	display: flex;
	gap: 1em;
}

.container-filtro ul li {
	background-color: var(--cor-cinza-claro);
	color: var(--cor-cinza-escuro);
	font-size: 18px;
	padding: 0.25em 0.5em;
	border-radius: 4px;
	cursor: pointer;
}

.container-filtro button {
	border: none;
	background-color: transparent;
	color: var(--cor-cinza-medio);
	font-size: 18px;
	cursor: pointer;
}
