.card-container {
	border-radius: 8px;
	background-color: var(--cor-cinza-escuro);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 500px;
	width: 100%;
}

.card-img {
	background-color: var(--cor-cinza-medio);
	width: 100%;
	min-height: 250px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-img img {
	object-fit: contain;
	width: 90%;
	height: 90%;
}

.card-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 16px;
	color: var(--cor-cinza-claro);
	overflow: hidden;
}

.card-content h2 {
	font-size: 1.125em;
	margin-bottom: 0.5em;
}

.card-content p {
	font-size: 0.9em;
}

.card-buttons {
	display: flex;
	justify-content: space-between;	
	align-items: center;
	padding: 16px;
}

.card-buttons-left {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 12px;
}

.card-buttons-left div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	color: var(--cor-cinza-medio);
}

.card-buttons-left div a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
}

.card-buttons-left div a img {
	width: 100%;
	object-fit: contain;
}

.card-buttons-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 12px;
	color: var(--cor-cinza-medio);
	width: 100%;
	img {
		width: 36px;
		height: 36px;
		object-fit: cover;
		border-radius: 24px;
	}
}
